/**
* invert generator with targetted color : https://codepen.io/sosuke/pen/Pjoqqp
**/

.pink-icon {
  filter: invert(47%) sepia(12%) saturate(3489%) hue-rotate(316deg)
    brightness(103%) contrast(103%);
}
.pink-icon:hover {
  filter: invert(51%) sepia(71%) saturate(1926%) hue-rotate(329deg)
    brightness(98%) contrast(107%);
}

.card-meta {
  margin-bottom: 10px;
}
.info {
  padding: 5px 0;
}
